# Virtual Environment
venv/

# Environment variables
.env
.env.*

# Database
*.db
instance/

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.class

# Logs
*.log

# Secret files
secrets.json
api_keys.py
config_secret.py
